{% extends "import.html" %} {% block content %}
<center>
  <br />
  <h2>Automated Ultrasound Analysis Using CNN Algorithm</h2>
  <br />

  <form id="upload-file" method="post" enctype="multipart/form-data">
    <input
      class="btn btn-success"
      id="imageUpload"
      name="file"
      type="file"
      accept=".png, .jpg, .jpeg"
    />
  </form>

  <div class="image-section" style="display: none">
    <img class="img-responsive" id="imagePreview" src="#" style="width: 300px; height: 300px" />
    <br /><br />
    <div>
      <button class="btn btn-info btn-lg" id="btn-predict" type="button">Predict</button>
    </div>
  </div>

  <div class="loader" style="display: none"></div>

  <h3 id="result">
    <span></span>
  </h3>
</center>
<br /><br />
{% endblock %}
